<!DOCTYPE html>
<html>
	<head>
		<title>Tasks</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body class="body">
            <h1>Household Todolist</h1>
			

            <div class = "container_task">
                <h2>Assign Task</h2>
                <form method="POST" action="/api/tasks/" id="task_form">
                    <div>
                        <label for="task">Task:</label>
                        <textarea id="task" name="name" rows="4" cols="50"></textarea>
                    </div> 
                    <div>
                        <label for="priority">Priority:</label>
                        <select id="priority" name="priority" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div> 
                    <div>
                        <label for="duedate">Due Date:</label>
                        <input type="date" id="dueDate" name="dueDate" required>
                    </div>
                    <div>
                        <label for="recurr">Recurring ?</label>
                        <input type="checkbox" id="recurr" name="isRecurring" value=true>
                    </div> 
                    <div class = "name_task">
                        <input type="number" class="name_task" id="recurr_days" name="daysRecurring"> 
                    </div>
                    <div>
                        <label for="user_type">Specific User ?</label>
                        <input type="checkbox" id="user_type" name="user_type" value="user_type">
                    </div> 
                    <div class = "name_task">
                        <input type="text" class="name_task" id="fname_task" name="fname" placeholder="First Name">
                    </div>
                    <div class = "name_task">
                        <input type="text" id="lname_task" name="lname" placeholder="Last Name">
                    </div>
                    <script>
                        const checkbox = document.getElementById('user_type');
                        var input1 = document.getElementById('fname_task');
                        var input2 = document.getElementById('lname_task');


                        checkbox.addEventListener('click', function() {
                        if (checkbox.checked) {
                            input1.style.display = 'block';
                            input2.style.display = 'block';
                            input1.style.position = 'relative';
                            input1.style.left = '300px';
                            input2.style.position = 'relative';
                            input2.style.left = '300px';
                        } else {
                            input1.style.display = 'none';
                            input2.style.display = 'none';
                            input1 = undefined;
                            input2 = undefined;
                        }
                        });

                        const checkbox2 = document.getElementById('recurr');
                        const input3 = document.getElementById('recurr_days');

                        checkbox2.addEventListener('click', function() {
                        if (checkbox2.checked) {
                            input3.style.display = 'block';
                            input3.style.position = 'relative';
                            input3.style.left = '300px';
                        } else {
                            input3.style.display = 'none';
                        }
                        });

                    </script>
                    
                    <input type="hidden" name="householdId" value="<%= myData.householdId %>">
                    
                    <input type="hidden" name="add_task_button" value="/manage.html">
                    <button type="submit" class="button_task_assign">Assign Task</button>
                </form>

            </div>

            <div class="return_div">
                <button type="button" class="button_return" onclick="window.location.href='/home.html'">Home</button>
            </div>
	</body>

	


</html>
